
:root{
    --primary-100:#FF4081;
    --primary-200:#ff79b0;
    --primary-300:#ffe4ff;
    --accent-100:#00E5FF;
    --accent-200:#00829b;
    --text-100:#353434;
    --text-200:#5f5e5e;
    --bg-100:#ffffff;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(55, 58, 69, 0.7)),url(../images/background-home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.ReWearUni{
    color:var(--primary-100);
}

.start-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-300);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo-header a{
    color:var(--primary-100);
    text-decoration:  none;
    font-size: 18px;
    font-weight: 900;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: var(--bg-100);
    text-decoration:  none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:var(--primary-300);
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover:after{
    width: 100%;
}


.text-box{
    width: 90%;
    color: var(--bg-100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    font-weight: 900;
}
.text-box h2{
    font-size: 36px;
    font-weight: 900;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg-100);
}

.text-box a span {
    margin-left: 5px;
}

.download-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--bg-100);
    border: 1px solid var(--primary-300);
    padding: 12px 34px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: var(--primary-100);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}

.download-btn:hover{
    border: 1px solid;
    transform: scale(0.95);
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 18px;
    }
    .text-box h2{
        font-size: 15px;
    }
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color:var(--primary-300);
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color:#282828;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.about{
    width: 100%;
    margin: auto;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: var(--bg-200);
}

.about h1{
    padding-top: 0px;
    padding-bottom: 25px;
    color: var(--primary-100);
    text-align: center;
}

.about img {
    width: 45%;
    height: 45%;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.text{
    width: 550px;
    flex-basis: 50%;
    background: var(--primary-300);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 1.5rem;
}
.text .text-content{
    font-weight: 400;
}
.content{
    font-weight: 500;
}
.text-title{
    font-weight: 900;
}
.text:hover{
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
.segment-button{
    display: inline-block;
    text-decoration: none;
    color: var(--bg-100);
    border: 1px solid var(--primary-300);
    padding: 12px 34px;
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: var(--primary-100);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}
.segment-button:hover{
    border: 1px solid;
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about img {
        width: 65%;
        height: auto;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.center{
    width: 80%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.box {
    padding: 16px;
    background-color: #F5F5F5;
    border-radius: 15px;
    transition: all .38s ease;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.box h3 {
    font-size: 22px;
    font-weight: 600;
    color:  var(--primary-300);
    margin-bottom: 8px;
}

.box h5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-300);
    margin-bottom: 15px;
}

.box img{
    height: 150px;
    width: auto;
}

.icons i{
    display: inline-block;
    color:var(--primary-300);
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

.box:hover{
    transform: scale(0.98);
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);

}

@media(max-width: 700px){
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .center h1{
        font-size: 20px;
    }
}

.review h1{
    padding-top: 60px;
    padding-bottom: 25px;
    color: var(--primary-100);
    text-align: center;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin:15px;
}
.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, 0.1);
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 3rem;
    color:var(--text-200);
}
.review .box-container .box .stars i{
    color: yellow;
    font-size: 2rem;
}
.review .box-container .box p{
    color: var(--text-100);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color:var(--accent-200);
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color:var(--text-200);
}
.contact-us{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.contact-us h1{
    text-align: center;
    padding-top: 30px;
    color:var(--primary-100)
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid{
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
    color:var(--primary-100);
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnSend{
    position: relative;
    padding: 10px 22px;
    background: var(--accent-200);
    border-radius: 6px;
    color: var(--primary-300);
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor:pointer;
}

.footer {
    width: 100%;
    position: absolute;

    left: 0;
    padding: 2rem 8%;
    background-color: var(--primary-200);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.social-icons-container a{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem;
    font-size: 2rem;
    color:var(--accent-200);
}


.footer-menu-container{
    list-style-type: none;
    color: var(--text-100);
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;

}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: black;
    opacity: 0.8;
    text-align: center;
}
.meet-us{
  padding-top: 60px;
  padding-bottom: 25px;
  color: var(--primary-100);
  text-align: center;
}
.video-col{
  margin-left: 20px;
  margin-right: 20px;
}
