
:root{
    --primary-100:#FF4081;
    --primary-200:#ff79b0;
    --primary-300:#ffe4ff;
    --accent-100:#00E5FF;
    --accent-200:#00829b;
    --text-100:#353434;
    --text-200:#5f5e5e;
    --bg-100:#ffffff;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(55, 58, 69, 0.7)),url(../images/background-home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.ReWearUni{
    color:var(--primary-100);
}

.boton-inicio {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-300);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo-header a{
    color:var(--primary-100);
    text-decoration:  none;
    font-size: 18px;
    font-weight: 900;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: var(--bg-100);
    text-decoration:  none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:var(--primary-300);
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover:after{
    width: 100%;
}